<div class="container">
<form class="container" name="myform" novalidate (ngSubmit)="btnInsert()" #myform="ngForm">
   <p>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" [(ngModel)]="oLibro.user.name" required="true" minlength="2" #name="ngModel">
  </p>
  <div [hidden]="name.valid || name.pristine">El nombre es obligatorio y debe tener mas de dos caracteres</div>
  <p>
    <label for="telephone">Telephone: </label>
    <input type="text" id="telephone" name="telephone" [(ngModel)]="oLibro.user.telephone" maxlength="9" minlength="9" #telephone="ngModel">
  </p>
  <div class="error-message" [hidden]="telephone.valid || telephone.pristine">Debe de tener al 9 caracteres</div>
  <p>
    <label for="autor">Autor: </label>
    <input type="text" id="autor" name="autor" [(ngModel)]="oLibro.autor">
  </p>
  <p>
    <label for="titulo">Titulo: </label>
    <input type="text" id="titulo" name="titulo" [(ngModel)]="oLibro.titulo">
  </p>
  <p>
    <label for="editorial">Editorial: </label>
    <input type="text" id="editorial" name="editorial" [(ngModel)]="oLibro.editorial">
  </p>
  <p>
    <input type="checkbox" id="exlibris" name="exlibris" [(ngModel)]="oLibro.exlibris">
    <label for="exlibris"> Exlibris</label>
  </p>
   <p>
     <label for="numpag">Numpag: </label>
    <input type="number" id="numpag" name="numpag" [(ngModel)]="oLibro.numpag">
  </p>
     <p>Selecciona un genero: </p>
    <input type="radio" id="fantastico" name="genero" value="fantastico" [(ngModel)]="oLibro.genero"/>
    <label for=''>Fantastico </label>
    <input type="radio" id="accion" name="genero" value="accion" [(ngModel)]="oLibro.genero"/>
    <label for=''>Accion </label>
    <input type="radio" id="terror" name="genero" value="terror" [(ngModel)]="oLibro.genero"/>
    <label for=''>Terror </label>

<p>Selecciona un pais</p>
    <select name="pais" id="pais" [(ngModel)]="oLibro.pais">
      <option *ngFor="let pais of aPaises" [ngValue]="pais" >{{pais.nombre}}</option>
    </select>

     <button type="submit" [disabled]="myform.invalid" >Añadir</button>
     <button type="button" (click)="btnDelete()" >Borrar</button>

<div *ngIf="estaEnviado">
      <h2>Resultados</h2>
      <p>{{oLibro | json}}</p>
</div>

</form>

 

<!--<li *ngFor="let libro of aLibros; let i = index">({{i+1}}){{libro.autor}} es el autor del libro: {{libro.titulo}}</li>

    <div [hidden]="aIdeas.length ? false : true">
      <p>Lista de ideas</p>
      <ul>
        <li *ngFor="let idea of aIdeas; let i = index">({{i+1}}){{idea}}</li>
      </ul>
    </div>-->
</div>
